.btn-red {
  color: #fff;
  background-color: red;
  padding: 10px 30px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}

.btn-red:hover {
  background-color: #333;
}

.App {
  text-align: center;
  width: 400px;
  margin: 0px auto;

  padding: 0;
}
